nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      a.navbar-brand NexusBerry
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/") Home
          li.nav-item
            a.nav-link(href="/contact") Contact
          li.nav-item
            a.nav-link(href="/products") Products