html
    head
        link(rel="stylesheet", href="/styles.css")
    body
        ul#menu
            li
                a(href="/") Home
            li
                a(href="/products") Products
            li
                a(href="/sales") Sales
        block content
        include foot