html
    head
        link(rel="stylesheet", href="/mystyles.css")
    body
        ul#menu
            li
                a(href="/") Home
            li
                a(href="/Shirts") Shirts
            li
                a(href="/trousers") Trousers
        block content